<%= form_with(model: bookmark) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%#= form.label :type_id %>
    <%#= form.text_field :type_id %>
  </div>
  <strong>Tipos: </strong>
  <% @types.each do |type| %>
    <%= type.name  %>
     <%= form.radio_button :type_id, type.id %>
  <% end %>
  
  <br><br>
  <strong>Categorías</strong>
  <div class="field">
    <%#= form.label :category_elements %>
    <div class="row">
    <% @categories.each do |item| %>
    <table style='display: inline-block; width: 100px; height: auto;'>
       <% if item.categoryUp_id==nil %>
      <thead >
        <th>
          <%= form.check_box :category_elements, {multiple: true}, item.id, nil %>
        </th>
        <th> <%= item.name %> </th>
      </thead>
        <% else %>
          <tbody>
          <tr >
              <td><%= form.check_box :category_elements, {multiple: true}, item.id, nil %></td>
              <td> <%= item.name %> </td>
          </tr>
          </tbody>
        <% end %>
    </table>
    <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
