<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<p>
  <strong>Categoryup name & ID:</strong>
  <%= @category.categoryUp.name %> - 
  <%= @category.categoryUp.id %>
</p>
<p>
  <strong>Public:</strong>
  <%= @category.public %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
